---
import Link from "./Link.astro";

const { pathname } = Astro.url;
---

<header class="z-10 w-full bg-[#000d0a]">
  <nav
    class="flex h-[60px] items-center justify-center md:justify-between md:px-32 2xl:px-44"
  >
    <a href="/">
      <img src="/logos/sparky.svg" alt="logo" class="h-[50px] w-[50px]" />
      <a>
        <ul class="hidden space-x-6 md:flex">
          <li>
            <a
              href="/"
              class:list={[
                "text-lg",
                {
                  "text-teal-200":
                    pathname === "/" || pathname.startsWith("/domain"),
                },
              ]}>Ecosystem</a
            >
          </li>
          <li class="flex items-center space-x-1">
            <Link
              href="/resources/videos"
              class:list={[
                "text-lg",
                { "text-teal-200": pathname.startsWith("/resources") },
              ]}
            >
              Resources
            </Link>
          </li>
          <li>
            <Link
              external
              href="https://github.com/0xYami/fuel.build/tree/main/docs/fill-up-gas-station.md"
              class="text-lg"
            >
              Join
            </Link>
          </li>
        </ul>
      </a>
    </a>
  </nav>
</header>
