---
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta property="og:author" content="0xYumi & 0xYami" />
    <meta
      property="og:keywords"
      content="Astro, TypeScript, Fuel, Modular blockchain"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fuel.build" />
    <meta
      property="og:viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#000d0a" />

    <!-- Primary Meta Tags -->
    <title>Fuel Ecosystem | Beyond monolithic</title>
    <meta name="title" content="Fuel Ecosystem | Beyond monolithic" />
    <meta
      name="description"
      content="Explore and join the world's fastest modular execution layer ecosystem"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://fuel.build" />
    <meta property="og:title" content="Fuel Ecosystem | Beyond monolithic" />
    <meta
      property="og:description"
      content="Explore and join the world's fastest modular execution layer ecosystem"
    />
    <meta property="og:image" content="https://fuel.build/covers/sparky.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://fuel.build" />
    <meta
      property="twitter:title"
      content="Fuel Ecosystem | Beyond monolithic"
    />
    <meta
      property="twitter:description"
      content="Explore and join the world's fastest modular execution layer ecosystem"
    />
    <meta
      property="twitter:image"
      content="https://fuel.build/covers/sparky.png"
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #000d0a;
    color: #fff;
    color-scheme: dark;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
