---
import BaseLayout from "./BaseLayout.astro";
import Link from "~/components/Link.astro";

const { pathname } = Astro.url;
---

<BaseLayout>
  <div
    class:list={[
      "my-6 flex flex-col items-center justify-between space-y-4 px-4",
      "sm:flex-row sm:items-end sm:space-y-0",
      "md:px-0",
    ]}
  >
    <div class="flex flex-col space-y-2">
      <h1 class="text-center text-5xl sm:text-left md:text-3xl">Resources</h1>
      <span
        class="text-center text-lg text-neutral-400 sm:text-left md:text-base"
        >Explore articles and videos about Fuel</span
      >
    </div>
    <div class="flex space-x-2">
      <Link
        href={`/articles/1`}
        class:list={[
          "px-2.5 py-1.5 text-center capitalize",
          "rounded-md border-[0.1px] border-teal-200/20",
          {
            "bg-teal-600": pathname.startsWith("/articles"),
          },
        ]}
      >
        articles
      </Link>
      <Link
        href={`/videos/1`}
        class:list={[
          "px-2.5 py-1.5 text-center capitalize",
          "rounded-md border-[0.1px] border-teal-200/20",
          {
            "bg-teal-600": pathname.startsWith("/videos"),
          },
        ]}
      >
        videos
      </Link>
    </div>
  </div>
  <div class="px-4 md:px-0">
    <slot />
  </div>
</BaseLayout>
